# pandas - "A biblioteca do Python para Dados"

### Importando o pandas

In [1]:
import pandas as pd

### Criando um dataframe a partir de um dicionário

In [2]:
# dataframe = pd.DataFrame()
venda = {'data': ['15/02/2021', '16/02/2021'],
         'valor': [500, 300],
         'produto': ['feijao', 'arroz'],
         'qtde': [50, 70],
        }
vendas_df = pd.DataFrame(venda)

### Visualização dos Dados
    - print
    - display

In [3]:
display(vendas_df)

         data  valor produto  qtde
0  15/02/2021    500  feijao    50
1  16/02/2021    300   arroz    70

### Importando arquivos e bases de dados

In [4]:
vendas_df = pd.read_excel("Vendas.xlsx")
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036

### Resumos de Visualização de Dados simples e úteis
    - head
    - shape
    - describe

In [5]:
display(vendas_df.head(10))
print(vendas_df.shape)
display(vendas_df.describe())

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248
6,5,2019-01-02,Shopping Barra,Calça,1,170,170
7,6,2019-01-02,Shopping Ibirapuera,Polo Listrado,4,149,596
8,7,2019-01-02,Norte Shopping,Camisa Gola V Listrado,1,116,116
9,7,2019-01-02,Norte Shopping,Camisa Liso,1,105,105

(93910, 7)

       Código Venda    Quantidade  Valor Unitário   Valor Final
count  93910.000000  93910.000000    93910.000000  93910.000000
mean   32464.762155      2.166553      191.725886    414.862656
std    18809.007093      1.258732      145.215519    434.846228
min        1.000000      1.000000       30.000000     30.000000
25%    16204.000000      1.000000      100.000000    156.000000
50%    32367.000000      2.000000      155.000000    274.000000
75%    48793.750000      3.000000      248.000000    524.000000
max    65014.000000      5.000000      750.000000   3750.000000

### Pegar 1 coluna (e os pd.Series)

In [6]:
produtos = vendas_df[['Produto', 'ID Loja']]
display(produtos)

                 Produto              ID Loja
0         Sapato Estampa   Iguatemi Esplanada
1               Camiseta   Iguatemi Esplanada
2          Sapato Xadrez   Iguatemi Esplanada
3                Relógio       Norte Shopping
4           Chinelo Liso       Norte Shopping
...                  ...                  ...
93905     Mochila Xadrez  Shopping Vila Velha
93906  Pulseira Listrado    Ribeirão Shopping
93907     Cueca Listrado    Ribeirão Shopping
93908     Pulseira Linho     Shopping Morumbi
93909      Casaco Xadrez     Shopping Morumbi

[93910 rows x 2 columns]

### .loc, um método muito importante
    - Pegar 1 linha
    - Pegar linhas de acordo com alguma condição
    - Pegar linhas e colunas específicas
    - Pegar 1 valor específico

In [7]:
# pegar uma linha
display(vendas_df.loc[1:5])

# pegar linhas que correspondem a uma condição
vendas_norteshopping_df = vendas_df.loc[vendas_df['ID Loja'] == 'Norte Shopping']

# pegar várias linhas e colunas usando o loc
vendas_norteshopping_df = vendas_df.loc[vendas_df['ID Loja'] == 'Norte Shopping', ["ID Loja", "Produto", "Quantidade"]]
display(vendas_norteshopping_df)

# pegar 1 valor específico
print(vendas_df.loc[1, 'Produto'])

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248

              ID Loja                 Produto  Quantidade
3      Norte Shopping                 Relógio           3
4      Norte Shopping            Chinelo Liso           1
8      Norte Shopping  Camisa Gola V Listrado           1
9      Norte Shopping             Camisa Liso           1
100    Norte Shopping            Cueca Xadrez           5
...               ...                     ...         ...
93716  Norte Shopping             Polo Xadrez           1
93754  Norte Shopping              Calça Liso           1
93755  Norte Shopping          Casaco Estampa           2
93756  Norte Shopping                   Gorro           2
93852  Norte Shopping           Bermuda Linho           1

[3924 rows x 3 columns]

Camiseta

### Adicionar 1 coluna

In [8]:
# a partir de uma coluna que existe
vendas_df['Comissão'] = vendas_df['Valor Final'] * 0.05
# display(vendas_df)

# criar uma coluna com valor padrão
vendas_df.loc[:, "Imposto"] = 0
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,0
...,...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,28.30,0
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,7.90,0
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,10.05,0
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,28.50,0
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,51.80,0

### Adicionar 1 linha
    - Linhas de um complemento da base de dados

In [9]:
vendas_dez_df = pd.read_excel("Vendas - Dez.xlsx")
#display(vendas_dez_df)

vendas_df = vendas_df.append(vendas_dez_df)
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,0.0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,0.0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,0.0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,0.0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,0.0
...,...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN,NaN
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN,NaN
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN,NaN
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN,NaN
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN,NaN

### Excluir linhas e colunas

In [10]:
vendas_df = vendas_df.drop(0, axis=0)
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,0.0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,0.0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,0.0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,0.0
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248,12.40,0.0
...,...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN,NaN
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN,NaN
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN,NaN
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN,NaN
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN,NaN

### Valores Vazios
    - Deletar linhas/colunas vazias
    - Deletar linhas que possuem valores vazios
    - Preencher valores vazios (média e último valor)

In [11]:
# deletar linhas e colunas completamente vazias
#vendas_df = vendas_df.dropna(how='all', axis=1)

# deletar linhas que possuem pelo menos 1 valor vazio
#vendas_df = vendas_df.dropna()

# preencher valores vazios
# preencher com a média da coluna
vendas_df['Comissão'] = vendas_df['Comissão'].fillna(vendas_df['Comissão'].mean())
display(vendas_df)

# preencher com o último valor
vendas_df = vendas_df.ffill()

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.000000,0.0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.400000,0.0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.000000,0.0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.550000,0.0
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248,12.400000,0.0
...,...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,20.743163,NaN
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,20.743163,NaN
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,20.743163,NaN
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,20.743163,NaN
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,20.743163,NaN

### Calcular Indicadores
    - Groupby
    - Value Counts

In [12]:
# value counts
transacoes_loja = vendas_df['ID Loja'].value_counts()
display(transacoes_loja)

# group by
faturamento_produto = vendas_df[['Produto', 'Valor Final']].groupby('Produto').sum()
display(faturamento_produto)

Shopping Vila Velha                 4234
Palladium Shopping Curitiba         4210
Norte Shopping                      4179
Rio Mar Shopping Fortaleza          4118
Bourbon Shopping SP                 4116
Iguatemi Campinas                   4108
Rio Mar Recife                      4099
Shopping Center Leste Aricanduva    4093
Shopping SP Market                  4080
Shopping Ibirapuera                 4051
Novo Shopping Ribeirão Preto        4049
Ribeirão Shopping                   4048
Salvador Shopping                   4030
Shopping Center Interlagos          4021
Shopping Iguatemi Fortaleza         4021
Center Shopping Uberlândia          4013
Shopping Eldorado                   4002
Passei das Águas Shopping           4000
Shopping União de Osasco            3995
Iguatemi Esplanada                  3979
Shopping Barra                      3962
Shopping Morumbi                    3959
Parque Dom Pedro Shopping           3902
Shopping Recife                     3891
Shopping Midway Mall                3837
Name: ID Loja, dtype: int64

                  Valor Final
Produto
Bermuda                272250
Bermuda Estampa        291694
Bermuda Linho          394680
Bermuda Liso           275692
Bermuda Listrado       293237
...                       ...
Tênis Estampa          457728
Tênis Linho            538608
Tênis Liso             474544
Tênis Listrado         481032
Tênis Xadrez           459725

[120 rows x 1 columns]

In [15]:
# faturamento por loja
faturamento_loja = vendas_df[['ID Loja', 'Valor Final']].groupby('ID Loja').sum()
print(faturamento_loja)

                                  Valor Final
ID Loja
Bourbon Shopping SP                   1726110
Center Shopping Uberlândia            1668921
Iguatemi Campinas                     1762419
Iguatemi Esplanada                    1699323
Norte Shopping                        1711968
Novo Shopping Ribeirão Preto          1678225
Palladium Shopping Curitiba           1721120
Parque Dom Pedro Shopping             1631630
Passei das Águas Shopping             1649014
Ribeirão Shopping                     1707122
Rio Mar Recife                        1722766
Rio Mar Shopping Fortaleza            1698430
Salvador Shopping                     1646739
Shopping Barra                        1653103
Shopping Center Interlagos            1640486
Shopping Center Leste Aricanduva      1682870
Shopping Eldorado                     1648111
Shopping Ibirapuera                   1635060
Shopping Iguatemi Fortaleza           1674824
Shopping Midway Mall                  1590441
Shopping Morumbi                      1585874
Shopping Recife                       1624879
Shopping SP Market                    1721763
Shopping União de Osasco              1663770
Shopping Vila Velha                   1731167

In [17]:
# faturamento por produto
faturamento_produto = vendas_df[['ID Loja', 'Produto', 'Valor Final']].groupby(['ID Loja', 'Produto']).sum()
display(faturamento_produto)

                                      Valor Final
ID Loja             Produto
Bourbon Shopping SP Bermuda                 10350
                    Bermuda Estampa         11999
                    Bermuda Linho           11895
                    Bermuda Liso             9734
                    Bermuda Listrado        12225
...                                           ...
Shopping Vila Velha Tênis Estampa           16896
                    Tênis Linho             25284
                    Tênis Liso              17290
                    Tênis Listrado          13886
                    Tênis Xadrez            22274

[3000 rows x 1 columns]

In [22]:
faturamento_produto.head(60)

                                            Valor Final
ID Loja             Produto
Bourbon Shopping SP Bermuda                       10350
                    Bermuda Estampa               11999
                    Bermuda Linho                 11895
                    Bermuda Liso                   9734
                    Bermuda Listrado              12225
                    Bermuda Xadrez                 9455
                    Calça                         11050
                    Calça Estampa                 13275
                    Calça Linho                   15614
                    Calça Liso                    15390
                    Calça Listrado                19005
                    Calça Xadrez                  12580
                    Camisa                         4600
                    Camisa Estampa                11413
                    Camisa Gola V                  7700
                    Camisa Gola V Estampa          9204
                    Camisa Gola V Linho           11455
                    Camisa Gola V Liso            10384
                    Camisa Gola V Listrado        10092
                    Camisa Gola V Xadrez           7276
                    Camisa Linho                   9306
                    Camisa Liso                    7560
                    Camisa Listrado                8316
                    Camisa Xadrez                  8295
                    Camiseta                      11520
                    Camiseta Estampa              15876
                    Camiseta Linho                17171
                    Camiseta Liso                 17952
                    Camiseta Listrado             14578
                    Camiseta Xadrez               16200
                    Casaco                        21750
                    Casaco Estampa                17408
                    Casaco Linho                  26611
                    Casaco Liso                   19125
                    Casaco Listrado               25017
                    Casaco Xadrez                 15799
                    Chinelo                        4560
                    Chinelo Estampa                5032
                    Chinelo Linho                  6720
                    Chinelo Liso                   4402
                    Chinelo Listrado               3723
                    Chinelo Xadrez                 4686
                    Cinto                         13400
                    Cinto Estampa                 10868
                    Cinto Linho                   17608
                    Cinto Liso                    26125
                    Cinto Listrado                21186
                    Cinto Xadrez                  11825
                    Cueca                          4000
                    Cueca Estampa                  5016
                    Cueca Linho                    6510
                    Cueca Liso                     4416
                    Cueca Listrado                 4288
                    Cueca Xadrez                   4560
                    Gorro                          5280
                    Gorro Estampa                  7905
                    Gorro Linho                    8928
                    Gorro Liso                     5796
                    Gorro Listrado                 7954
                    Gorro Xadrez                   5525

In [25]:
vendas_bourbon_shopping_sp_df = vendas_df.loc[vendas_df['ID Loja'] == 'Bourbon Shopping SP']
display(vendas_bourbon_shopping_sp_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto,Gerente
40218,14,2019-01-02,Bourbon Shopping SP,Casaco Liso,2,255,510,25.500000,0.0,Marcus
40219,99,2019-01-02,Bourbon Shopping SP,Sapato Xadrez,2,368,736,36.800000,0.0,Marcus
40220,99,2019-01-02,Bourbon Shopping SP,Short Liso,5,108,540,27.000000,0.0,Marcus
40221,99,2019-01-02,Bourbon Shopping SP,Cinto Listrado,4,214,856,42.800000,0.0,Marcus
40222,110,2019-01-02,Bourbon Shopping SP,Polo Estampa,2,138,276,13.800000,0.0,Marcus
...,...,...,...,...,...,...,...,...,...,...
44329,69889,2019-12-25,Bourbon Shopping SP,Mochila,1,270,270,20.743163,0.0,Marcus
44330,69932,2019-12-25,Bourbon Shopping SP,Camiseta Xadrez,3,200,600,20.743163,0.0,Marcus
44331,69953,2019-12-25,Bourbon Shopping SP,Polo,5,130,650,20.743163,0.0,Marcus
44332,69953,2019-12-25,Bourbon Shopping SP,Tênis,1,250,250,20.743163,0.0,Marcus
44333,69987,2019-12-26,Bourbon Shopping SP,Bermuda Estampa,4,169,676,20.743163,0.0,Marcus

### Mesclar 2 dataframes (Procurar informações de um dataframe em outro)

In [14]:
gerentes_df = pd.read_excel("Gerentes.xlsx")
# display(gerentes_df)

vendas_df = vendas_df.merge(gerentes_df)
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto,Gerente
0,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.000000,0.0,Salvador
1,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.400000,0.0,Salvador
2,21,2019-01-02,Iguatemi Esplanada,Camisa Gola V Listrado,2,116,232,11.600000,0.0,Salvador
3,34,2019-01-02,Iguatemi Esplanada,Sapato Listrado,1,363,363,18.150000,0.0,Salvador
4,34,2019-01-02,Iguatemi Esplanada,Camisa Gola V Liso,2,118,236,11.800000,0.0,Salvador
...,...,...,...,...,...,...,...,...,...,...
100992,69846,2019-12-25,Salvador Shopping,Short Estampa,2,96,192,20.743163,0.0,Mateus
100993,69846,2019-12-25,Salvador Shopping,Tênis Estampa,5,256,1280,20.743163,0.0,Mateus
100994,69850,2019-12-25,Salvador Shopping,Calça Estampa,4,177,708,20.743163,0.0,Mateus
100995,69972,2019-12-26,Salvador Shopping,Terno Liso,3,720,2160,20.743163,0.0,Mateus
100996,69972,2019-12-26,Salvador Shopping,Sapato Estampa,5,358,1790,20.743163,0.0,Mateus